rect(fill='#000000' width=40 height=90)
rect(fill='#B1220B' x=40 width=40 height=90)
rect(fill='#409821' x=80 width=40 height=90)

path(fill='#FFFFFF' d="M47.65 31.99C44.69 29.57 44.69 30.11 42.06 27.97C23.47 48.04 38.03 62.68 46.75 69.58C54.7 72.72 64.17 73.69 71.93 69.39C77.86 65.09 95.22 49.99 77.02 28.14C74.34 30.2 74.15 30.2 71.42 31.99C78.89 43.1 78.62 54.19 64.86 65.11C64.46 65.33 64.9 64.08 66.18 61.35L52.83 61.27C53.71 64.01 53.9 65.23 53.39 64.92C47.23 58.22 36.29 50.17 47.65 31.99Z")
path(fill='#FFFFFF' d="M47.8 58.45C49.59 56.56 50.78 55.28 51.36 54.6C51.62 54.29 51.62 52.76 51.36 49.99L48.67 45.66L45.98 51.72C44.88 50.47 44.17 49.64 43.86 49.22C43.55 48.79 44.64 46.42 47.13 42.1L51.36 48.93L51.74 33.16L53.86 33.16L54.05 39.7C54.05 39.7 54.63 39.35 55.78 38.64C53.86 29.12 65.95 31.24 62.8 38.55C63.65 39.25 64.29 39.8 64.72 40.18L64.72 33.07L67.22 32.97L67.22 49.02L71.93 41.72L75.11 49.5L72.99 52.2L69.91 45.95L67.32 50.47L67.41 54.7L71.26 58.45L47.8 58.45Z")
path(fill='#FFFFFF' d="M44.34 26.43C52.61 18.62 64.05 17.28 75.59 26.24C73.47 28.23 73.95 28.23 71.26 30.37C63.38 24.63 56.26 24.24 47.13 30.18C45.4 28.14 45.78 28.14 44.34 26.43Z")