rect(fill='black' width=120 height=35)
path(fill='#E20000' d="M0,9L60,90L120,9L120,90L0,90Z")
path(fill='white' d="M34,55L86,55L60,90Z")
path(fill='#0061ff' d="M19,35L101,35L86,55L34,55Z")
path(fill='#FFD600' d="M29,35L43,32L32,24L45,26L38,14L51,21L48,7L57,18L61,5L64,18L72,7L70,20L82,13L75,26L89, 24L78,32L91,35Z")