path(fill="#000" d="M0 0h240v70h-240Z")
path(fill="#E20000" d="M120 180l120-162v162h-240v-162Z")
path(fill="#FFF" d="M68 110h104l-52 70Z")
path(fill="#0061ff" d="M38 70h164l-30 40h-104Z")
path(fill="#FFD600" d="M58 70l28-6l-22-16l26 4l-14-24l26 14l-6-28l18 22l8-26l6 26l16-22l-4 26l24-14l-14 26l28-4l-22 16l26 6Z")
