path(fill="#000068" d="M0 0h240v180H0z")
path(d="M132 92h16v-12l-132-80h-16v12ZM132 0h16v12l-132 80h-16v-12Z" fill="#fff")
path(d="M58 30v-30h32v30h58v32h-58v30h-32v-30h-58v-32Z" fill="#fff")
path(d="M64 36v-36h20v36h64v20h-64v36h-20v-36h-64v-20Z" fill="#ce0000")
path(d="M48 30h-12l-36-22v-8ZM46 62h12l-46 30h-12ZM100 62h12l36 22v8ZM103 29h-12l47-29h11Z" fill="#ce0000")
path(d="M172 96c0 4 26 4 26 0c0 4 26 4 26 0c0 60-20 66-26 66c-6 0-26-8-26-66Z" fill="#fff" stroke="#ccce19")
path(d="M178 144h38c0 6-10 18-18 18c-8 0-18-12-18-18Z" fill="#00cbff")
path(d="M184 116c-4 13 9 19 8 10c3 4 8 2 12 2c-8 11-13 7-22 10c4-3 0-13-6-20c6 4 7 0 8-2ZM198 138c13-3 11-17 4-12c1-5-2-8-4-10c14 1 13 7 20 12c-5-2-11 6-14 16c1-7-4-6-6-6ZM208 116c-9-10-21-2-12 2c-5 1-6 5-8 8c-5-13 0-15 2-24c1 5 11 7 20 6c-7 3-3 6-2 8Z" fill="#ff9a00")
