path(fill="#f00" d="M0 0h240v90H0z")
path(fill="#000" d="M0 90h240v90H0z")
path(d="M88 49l-1 6c34 11 39 35 20 61c-27-16-32-18-35-27c-12 15 5 21 26 34c-12 5-24 3-38-4l-4 5c6 2 2 6 8 9c7 3 5-3 11-2c7 1 1 5 8 6c8 0 3-5 8-6c6-1 3 4 10 3c7-2 0-5 5-7l31 17l5-6l-27-17c6-14 7-4 12-12c4-8-5-4-2-11c1-5 5 0 5-7c0-8-5 0-5-8c0-7 5-2 2-9c-3-9-5 3-8-5c-3-7 3-4-1-10c-5-7-5 3-10-2c-4-5 2-5-6-8c-8-3-3 5-13 1ZM83 71l3-9l3 9l9 0l-7 6l2 9l-8-6l-8 5l3-9l-7-5l9 0Z" fill="#FFEE00")
