path(d="M0 0h240v180H0z" fill="#00C4FF")
path(d="M0 60h240v60H0z" fill="#FFF")
path(d="M118 73c1-25 2-31 4 0c6-21 9-32 3 1c13-26 13-24 4 1c17-23 18-22 3 2c22-19 23-18 3 2c26-16 25-13 2 4c27-11 28-10 2 3c32-6 26-3 0 4c33 1 26 2 0 4c25 7 31 9-1 3c26 13 27 15-1 4c26 19 19 16-2 3c25 28 14 18-2 2c16 27 14 26-3 2c11 29 8 26-4 1c6 30 4 26-3 1c-2 22-3 35-3 0c-6 20-11 34-4-1c-12 24-15 27-3-1c-17 23-19 24-3-2c-16 15-27 24-2-2c-20 11-31 17-2-3c-24 8-31 10-1-3c-25 4-35 5-1-3c-30-1-28-2 0-4c-25-6-31-8 1-4c-30-13-24-12 1-2c-22-15-26-19 2-3c-16-17-23-25 2-2c-14-23-16-29 3-2c-10-26-10-28 3-1c-5-26-5-30 3-1Z" fill="#ffd600" stroke="#e9c600")
path(d="M111 83h8M122 83h8M118 94l4 0M115 98l9 0M117 100l5 0M111 86l7 0l-4 2M124 86l6 0l-4 2" stroke="#a38900")
ellipse(cx=121 cy=91 rx=17 ry=17 stroke="#fff")
